%TMPL:DEF{"ModacMail"}%From: %TMPL:P{"ModacMailFrom"}%
%to_expanded%%IF{"defined cc_expanded" then="
%cc_expanded%"}%%IF{"defined bcc_expanded" then="
%bcc_expanded%"}%%IF{"defined reply_to" then="
Reply-To: %reply_to%"}%%IF{"defined message_id" then="
Message-ID: %message_id%"}%%IF{"defined in_reply_to" then="
In-Reply-To: %in_reply-to%"}%
Subject: %TMPL:P{"ModacMailSubject"}%
%TMPL:P{"ModacMailOtherHeaders"}%
Content-Type: multipart/alternative; boundary="%TMPL:P{"ModacMailBoundary"}%"

This is a multi-part message in MIME format.
--%TMPL:P{"ModacMailBoundary"}%
Content-Type: %TMPL:P{"ModacMailType"}%;%TMPL:P{"ModacMailCharset"}%format=flowed
Content-Transfer-Encoding: 8bit

%TMPL:P{"ModacMailContents"}%

--%TMPL:P{"ModacMailBoundary"}%--
%TMPL:END%

%{"This should be used for no-reply mails. Uses settings in site preferences if they exist."}%
%TMPL:DEF{"ModacNoReply"}%%IF{"defined AUTOGENMAILNAME" then="%AUTOGENMAILNAME%" else="%WIKIWEBMASTERNAME%"}%  <%IF{"defined AUTOGENMAIL" then="%AUTOGENMAIL%" else="%WIKIWEBMASTER%"}%>%TMPL:END%

%{"Set receipient here:"}%
%TMPL:DEF{"ModacMailTo"}%Please define receipient in ModacMailTo%TMPL:END%

%{"--- Additional definitions. You rarely need to modify them. ---"}%

%{"Charset of the mail"}%
%TMPL:DEF{"ModacMailCharset"}%charset="utf-8";%TMPL:END%

%{"Set Content-Type (to ether text/plain or text/html)"}%
%TMPL:DEF{"ModacMailType"}%text/plain%TMPL:END%

%{"Boundary"}%
%TMPL:DEF{"ModacMailBoundary"}%38631e98aca8d1b859a787%TMPL:END%

%{"Additional headers: Mime, autogenerated"}%
%TMPL:DEF{"ModacMailOtherHeaders"}%MIME-Version: 1.0
Auto-Submitted: auto-generated%TMPL:END%
